## Categorical Features


### One Hot Encoding

In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [5]:
df = sns.load_dataset('titanic')

In [7]:
df1 = df['sex']

In [9]:
df1.head()

0      male
1    female
2    female
3    female
4      male
Name: sex, dtype: object

In [11]:
pd.get_dummies(df1,drop_first=True).head()

   male
0     1
1     0
2     0
3     0
4     1

In [19]:
df = sns.load_dataset('titanic')
df['embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [14]:
df1 = df['embarked']

In [25]:
df['embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [23]:
df['embarked'].isnull().sum()

2

In [29]:
pd.get_dummies(df['embarked'],drop_first=True).head()

   Q  S
0  0  1
1  0  0
2  0  1
3  0  1
4  0  1

#### Onehotencoding with many categories in a feature

In [32]:
df = pd.read_csv('https://raw.githubusercontent.com/sanket1012/Mercedez-Benz-Greener-Manufacturing/master/train.csv',usecols=['X0','X1','X2','X3','X4','X5','X6'])

In [33]:
df

      X0 X1  X2 X3 X4  X5 X6
0      k  v  at  a  d   u  j
1      k  t  av  e  d   y  l
2     az  w   n  c  d   x  j
3     az  t   n  f  d   x  l
4     az  v   n  f  d   h  d
...   .. ..  .. .. ..  .. ..
4204  ak  s  as  c  d  aa  d
4205   j  o   t  d  d  aa  h
4206  ak  v   r  a  d  aa  g
4207  al  r   e  f  d  aa  l
4208   z  r  ae  c  d  aa  g

[4209 rows x 7 columns]

In [49]:
df['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
m      34
ai     34
e      32
ba     27
at     25
a      21
ax     19
aq     18
i      18
am     18
u      17
l      16
aw     16
ad     14
b      11
k      11
au     11
as     10
r      10
bc      6
ao      4
c       3
aa      2
q       2
ab      1
ac      1
g       1
Name: X0, dtype: int64

In [38]:
for i in df.columns:
    print(len(df[i].unique()))

47
27
44
7
4
29
12

In [39]:
df['X1'].value_counts().sort_values(ascending=False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [40]:
lst_10 = df['X1'].value_counts().sort_values(ascending=False).head(10).index

In [43]:
lst_10 = list(lst_10)
lst_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [44]:
for categories in lst_10:
    df[categories] = np.where(df['X1']==categories,1,0)

In [46]:
lst_10.append('X1')

In [48]:
df[lst_10]

      aa  s  b  l  v  r  i  a  c  o X1
0      0  0  0  0  1  0  0  0  0  0  v
1      0  0  0  0  0  0  0  0  0  0  t
2      0  0  0  0  0  0  0  0  0  0  w
3      0  0  0  0  0  0  0  0  0  0  t
4      0  0  0  0  1  0  0  0  0  0  v
...   .. .. .. .. .. .. .. .. .. .. ..
4204   0  1  0  0  0  0  0  0  0  0  s
4205   0  0  0  0  0  0  0  0  0  1  o
4206   0  0  0  0  1  0  0  0  0  0  v
4207   0  0  0  0  0  1  0  0  0  0  r
4208   0  0  0  0  0  1  0  0  0  0  r

[4209 rows x 11 columns]